.addContactButton {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: green;
    padding: 5px 15px 5px 15px;
}

.contactCard {
    border: 1px solid gray;
    padding: 20px;
}

.contactImage {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.contactCardInfoIcons {
    margin-right: 10px;
}
.contactModifyIcons {
    margin-left: 10px;
    margin-right: 10px;
}

.invisibleButton{
    border: none;
    background: none;
}